//  ---------------------------------------------------------------------------
//
//  Defines all BASIC variables.
//
//  ---------------------------------------------------------------------------



//  = GRAYS
//  ---------------------------------------------------------------------------

	$black: 							#292929; 	//  16% white
	$grayVeryDark:						#4d4d4d; 	//  30% white
	$grayDarker:						#585858; 	//  35% white
	$grayDark:							#707070; 	//  44% white
	$gray:								#949494; 	//  58% white
	$grayLight:							#b8b8b8; 	//  72% white
	$grayVeryLight:						#dbdbdb; 	//  86% white
			
	$whiteSmoke:						#f5f5f5;	//	96% white
	$whiteSoft:							#fbfbfb;	//	98% white
	$white: 							#fff; 		// 100% white
			
	$sand:								#FAF8F5;



//  = ACCENT COLORS
//  ---------------------------------------------------------------------------

	$red:								#e05a5a; // intuio red
	$green:								#bfe05a;
	$blue: 								#3890bd;
	$magenta:							#ea4c88;
	$purple:							#939;
	$cyan:								#6cc;
	$yellow:							#fff2bf;
	$orange:							#f90;
			
	$primaryAccent:						$blue;
	$secondaryAccent:					$red;



//  = SCAFFOLDING
//  ---------------------------------------------------------------------------

	$bodyBackground:					$sand;
	$bodyBackgroundColor:				$sand;
	$textColor:							$grayVeryDark;



//  = LINKS
//  ---------------------------------------------------------------------------

	$linkColor:							$secondaryAccent;
	$linkColorHover:					darken($linkColor, 8);
	$linkColorVisited:					darken($linkColor, 16%);
	$linkColorInvisible:				$textColor;	



//  = TYPOGRAPHY
//  ---------------------------------------------------------------------------

	$sansFontFamily:        			"proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	$serifFontFamily:       			"ff-meta-serif-web-pro", "Georgia", "Geneva", "Times New Roman", serif;
	$monoFontFamily:        			"Menlo", "Monaco", "Consolas", "Courier New", monospace;
			
	$htmlFontSize:          			62.5%;	
	$htmlLineHeight:        			1;
	$baseLineHeight:					1.4;//px
	$bodyFontSize:          			1.8;//px
	$bodyLineHeight:        			$baseLineHeight * 2;
	$baseFontFamily:        			$serifFontFamily;
	$altFontFamily:         			$sansFontFamily;
			
	$smallFontSize:						$baseLineHeight - 0.2;

	$normalFontWeight:					400;
	$boldFontWeight:					700;

	$headingsFontFamily:    			$sansFontFamily; 	// empty to use BS default, $baseFontFamily
	$headingsFontWeight:    			700;	 			// same as browser default, bold
	$headingsColor:         			inherit;			// empty to use BS default, $textColor
			
	$h1Size:							4.2;//px
	$h1LineHeight:						4.2;//px
			
	$h2Size:							3.4;//px
	$h2LineHeight:						4.2;//px
				
	$h3Size:							2.6;//px
	$h3LineHeight:						2.8;//px
			
	$h4Size:							2.1;//px
	$h4LineHeight:						2.8;//px



//  = BORDERS
//  ---------------------------------------------------------------------------

	$borderRadius:						.2;//px
	$borderThin:						.1;//px
	$borderMedium:						.2;//px
	$borderThick:						.4;//px
	$borderVeryThick:					$baseLineHeight;



//  = SPACING AND ALIGNMENT
//  ---------------------------------------------------------------------------

	$singleSpace:						$baseLineHeight;
	$doubleSpace:						$singleSpace * 2;
	$touchSize:							$singleSpace * 3;









