//  ---------------------------------------------------------------------------
//	
//	BOX MODULE
//
//	Boxes can be used to visually highlight different kinds of content.
//	They can also be selected using the class box--selectable
//
//	Example with two one standard box
//	
//	HTML structure:
//	<p class="box">
//		Lorem... 
//	</p>
//
//  ---------------------------------------------------------------------------



//  = COLORS
//  ---------------------------------------------------------------------------

	$boxBaseColor: 					$white !default;
	$boxHighlight: 					$primaryAccent !default;
	$boxHoverFontColor:				$textColor !default;
	$boxBorderWidth:				$borderThin !default;
	
	// generic box
	$boxBorderColor:				darken($white, 14%) !default;
	$boxBackgroundColor:			darken($white, 4%) !default;
	$boxBackgroundFallback:			darken($white, 2%) !default;
	$boxBackground:					linear-gradient($boxBaseColor, darken($boxBaseColor, 2%)) !default;
	$boxHoverBackground:			linear-gradient(lighten($boxBaseColor, 1%), darken(darken($boxBaseColor, 2%), 1%)) !default;
	$boxActiveBackground:			linear-gradient(darken($boxBaseColor, 2%), $boxBaseColor) !default;
	
	// selected box
	$boxSelectedLightColor:			lighten($boxHighlight, 30%) !default;
	$boxSelectedDarkColor:			lighten($boxHighlight, 28%) !default;
	$boxSelectedBorderColor:		$boxHighlight !default;
	$boxSelectedBackground:			linear-gradient($boxSelectedLightColor, $boxSelectedDarkColor) !default;
	$boxSelectedHoverBackground:	linear-gradient($boxSelectedLightColor, $boxSelectedDarkColor) !default;

	
	
//  = GENERIC BOX MODULE
//  ---------------------------------------------------------------------------
	.box
	{
		// Remove 1px from bottom margin to account for the borders
		@include rem(margin-bottom, $doubleSpace - $borderThin * 2); 
		@include rem(padding, $doubleSpace);
		border:0 solid $boxBorderColor;
		@include rem(border-width, $boxBorderWidth);

	}



//  = EXTENTIONS
//  ---------------------------------------------------------------------------
	.box--colored
	{
		background:$boxBackgroundColor;
	}

	.box--selectable
	{
		
		background:$boxBackgroundFallback; // No gradient fallback
		@include background($boxBackground);
		@include transition(all, .1s); // Set transition properties
		cursor:pointer;

		// In hover state the normally
		// quite flat button will pop
		// out a little bit.
		&:hover
		{
			// Make it look more like a beveled box
			@include background($boxHoverBackground);

			// Give shadow and highlight depths to the box
			// first outer color glow
			// then inner white top highlight
			box-shadow: 0 1px 1px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.2);				

			// Override a:hover font color change
			color:$boxHoverFontColor;
		}

		&:active
		{
			// Give the box a slight pressed effect
			@include background($boxActiveBackground);
			// inner dark shadow
			box-shadow:	inset 0 1px 3px rgba(0,0,0,.1); 
		}
	}

	.box--is-selected
	{
		// Add highlight color and
		// inner shadow as pressed effect
		border-color:$boxSelectedBorderColor;
		box-shadow: inset 0 2px 10px rgba(#000, .15);
		@include background($boxSelectedBackground);

		&:hover,
		&:active
		{
			cursor:default;
			box-shadow: inset 0 2px 10px rgba(#000, .15);
			@include background($boxSelectedHoverBackground);		
		}
	}