//  ---------------------------------------------------------------------------
//	
//	FEATURE MODULE 
//
//	Layout module for elements on a page that are similar to a feature in a
//	newspaper.
//
//	Example with two elements, each with two sub-elements:
//	
//	HTML structure:
//	<div class="l-grid-wrapper">
//		<div class="l-grid">
//			<div class="feature">
//				<img class="feature__image" src="../img/arbeitgeber.jpg" alt="Arbeitgeber">
//				<h2 class="feature__title">...</h2>
//				<p class="feature__desc">...</p>  
//				<a class="feature__link" href="#">Lesen Sie mehr.</a> 
//			</div> 
//		</div>
//		<div class="l-grid"> 
//			<div class="feature">  
//				<img class="feature__image" src="../img/arbeitnehmer.jpg" alt="Mitarbeiter">
//				<h2 class="feature__title">...</h2>
//				<p class="feature__desc">...</p>  
//				<a class="feature__link" href="#">Lesen Sie mehr.</a>
//			</div> 
//		</div> 
//		<div class="l-grid">   
//			<div class="feature">
//				<img class="feature__image" src="../img/ausbilder.jpg" alt="Ausbilder">
//				<h2 class="feature__title">...</h2>
//				<p class="feature__desc">...</p>  
//				<a class="feature__link" href="#">Lesen Sie mehr.</a>
//			</div>
//		</div>
//		<div class="l-grid">
//			<div class="feature">
//				<img class="feature__image" src="../img/studenten.jpg" alt="Studenten">
//				<h2 class="feature__title">...</h2>
//				<p class="feature__desc">...</p>  
//				<a class="feature__link" href="#">Lesen Sie mehr.</a>
//			</div>
//		</div>
//	</div>
//
//  ---------------------------------------------------------------------------



//  = BREAKPOINTS
//
// 	These default to the global major breakpoints.
//  You can adjust these breakpoints to have the 
//  module better fit into a specific context.
//  ---------------------------------------------------------------------------

	$featureLarge: 		$large-width !default;
	$featureHuge: 		$huge-width !default;
	$featureGiant: 		$giant-width !default;



//  = COLORS
//  --------------------------------------------------------------------------- 
	
	$featureBaseColor: 						$white !default;
	$featureHighlight:						$primaryAccent !default;

	// TOUCH
	$featureLinkBackgroundColorTouch:		$featureHighlight !default;
	$featureLinkColorTouch:					$featureBaseColor !default;

	// ACTIVE
	$featureLinkTouchActiveBackgroundColor:	darken($featureHighlight, 8) !default;
	$featureLinkTouchActiveColor:			$featureBaseColor !default;

	

//  = FEATURE
//  ---------------------------------------------------------------------------
	

//  ---------------------------------------------------------------------------
//
//  Describes the visual styling for the feature module
//
//  ---------------------------------------------------------------------------


	.feature
	{
		@include rem(margin-bottom, $singleSpace * 3);
		border-bottom:1px solid $grayVeryLight;

		@extend .space-lover;

		@include breakpoint($large-width)
		{
			border:0 none;
		}
	}

	.feature__icon
	{
		display: block;
		margin: 0 auto;
		@include rem(margin-bottom, $doubleSpace);
		border: 0 solid darken($featureHighlight, 45%);
		border-radius: 50%;
		color: $featureHighlight;
		@include setType($bodyFontSize * 5, $bodyLineHeight * 4);
	}

	.feature__image
	{
		@include rem(margin-bottom, $singleSpace);
	}

	.feature__title
	{
		font-family: $headingsFontFamily;
		font-weight: $headingsFontWeight;
		color: $headingsColor;
		text-rendering:optimizelegibility;
		@include hyphens(none);
		@include setType($h3Size, $h3LineHeight);
	}

	.feature__title--huge
	{

		margin-bottom: 0;
		@include setType($h1Size, $singleSpace * 4);
		
		@include breakpoint($large-width) 
		{
			@include setType(7.2, $singleSpace * 6);
		}
	}

	.feature__desc
	{
		text-align: left;
		@include hyphens(auto);


		@include breakpoint($featureLarge)
		{
			@include rem(min-height, $doubleSpace * 5);
		}

		@include breakpoint($featureHuge iemq)
		{
			@include rem(min-height, $doubleSpace * 8);
		}

		@include breakpoint($featureGiant)
		{
			@include rem(min-height, $doubleSpace * 6);
		}
	}

	.feature__desc--huge
	{
		min-height: 0;
		margin-bottom: 0;
		@include rem(padding-bottom, $doubleSpace - $borderThick * 2);
		text-align: center;
		font-weight: 100;
		@include breakpoint($large-width)
		{
			@include setType($h2Size, $h2LineHeight);
			border-bottom:0 solid $featureHighlight;
			@include rem(border-bottom-width, $borderThick);
		}
	}

	.feature__link
	{
		@include rem(margin-bottom, $doubleSpace);
		@include inline-block;
	}

	.touch .feature__link
	{
		@include rem(line-height, $touchSize);
		@include rem(padding, 0 $singleSpace);
		@include inline-block;
		background-color:$featureLinkBackgroundColorTouch;
		color:$featureLinkColorTouch;

		&:active
		{
			background-color:$featureLinkTouchActiveBackgroundColor;
			color:$white;
		}
	}