//  ---------------------------------------------------------------------------
//	
//	MESSAGE MODULE
//
//	Boxes can be used to visually highlight different kinds of content.
//	They can also be selected using the class box--selectable
//
//	Example with basic message
//	
//	HTML structure:
//	<div class="msg">
//		<h1 class="msg__title">Note</h1>
//		<p class="msg__text">Lorem...</p>
//	</div>
//
//  ---------------------------------------------------------------------------



//  = BORDER
//  ---------------------------------------------------------------------------
	
	$msgBorderWidth:				$borderThin !default;
	$msgBorderRadius:				.4 !default; // = 4px



//  = COLORS
//  ---------------------------------------------------------------------------
	
	// INFO MESSAGE
	$msgInfoBaseColor:				$blue !default;

	// SUCCESS MESSAGE
	$msgSuccessBaseColor:			$green !default;

	// WARNING MESSAGE
	$msgWarningBaseColor:			$yellow !default;

	// ERROR MESSAGE
	$msgErrorBaseColor:				$red !default;
	


	// Don't change these
	$msgBaseColor:					$white;
	$msgColor:						hsl(hue($msgBaseColor), 0, 25) !default;
	$msgBorderColor:				hsl(hue($msgBaseColor), 0, 85) !default;

	$msgInfoBackground:				hsl(hue($msgInfoBaseColor), 50, 92) !default;
	$msgInfoColor:					hsl(hue($msgInfoBackground), 60, 30) !default;
	$msgInfoBorderColor:			hsl(hue($msgInfoBackground), 50, 80) !default;
	
	$msgSuccessBackground:			hsl(hue($msgSuccessBaseColor), 70, 80) !default;
	$msgSuccessColor:				hsl(hue($msgSuccessBackground), 80, 20) !default;
	$msgSuccessBorderColor:			hsl(hue($msgSuccessBackground), 60, 50) !default;
	
	$msgWarningBackground:			hsl(hue($msgWarningBaseColor), 95, 85) !default;
	$msgWarningColor:				hsl(hue($msgWarningBackground), 70, 25) !default;
	$msgWarningBorderColor:			hsl(hue($msgWarningBackground), 60, 60) !default;
	
	$msgErrorBackground:			hsl(hue($msgErrorBaseColor), 95, 88) !default;
	$msgErrorColor:					hsl(hue($msgErrorBackground), 70, 30) !default;
	$msgErrorBorderColor:			hsl(hue($msgErrorBackground), 50, 70) !default;


	
	
//  = GENERIC MESSAGE 
//  ---------------------------------------------------------------------------

	.msg
	{
		// Subtract borders from bottom margin 
		// to perfectly match the vertical rhythm
		@include rem(margin-bottom, $doubleSpace - $msgBorderWidth * 2); 
		@include rem(padding, $singleSpace);
		background:$msgBaseColor;
		border:0 solid $msgBorderColor;
		@include rem(border-width, $msgBorderWidth);
		@include rem(border-radius, $msgBorderRadius);
		font-family:$sansFontFamily;
		color:$msgColor;
	}

	.msg__title
	{
		@extend .h4;
		margin-bottom:0;
		// @include rem(margin-bottom, $singleSpace);

		.fa 
		{
			@include rem(margin-right, $singleSpace / 2);
		}
	}

	.msg__bd
	{
		margin-bottom:0;
	}

	.msg--has-icon .msg__bd
	{
		@include rem(margin-left, 2.7 + $singleSpace / 2); // 27px is the width of fixed-width fontawesome icons
	}



//  = INFO MESSAGE
//  ---------------------------------------------------------------------------

	.msg--info
	{
		background:$msgInfoBackground;
		border-color:$msgInfoBorderColor;
		color:$msgInfoColor;
	}



//  = SUCCESS MESSAGE
//  ---------------------------------------------------------------------------

	.msg--success
	{
		background:$msgSuccessBackground;
		border-color:$msgSuccessBorderColor;
		color:$msgSuccessColor;
	}



//  = WARNING MESSAGE
//  ---------------------------------------------------------------------------

	.msg--warning
	{
		background:$msgWarningBackground;
		border-color:$msgWarningBorderColor;
		color:$msgWarningColor;
	}



//  = ERROR MESSAGE
//  ---------------------------------------------------------------------------

	.msg--error
	{
		background:$msgErrorBackground;
		border-color:$msgErrorBorderColor;
		color:$msgErrorColor;
	}












