//  ---------------------------------------------------------------------------
//
//  Defines the grid and its behaviour
//  on different breakpoints.
//
//	Breakpoints:   0px ->  1 column
//				 320px ->  4 columns
//				 480px ->  8 columns
//				 600px -> 12 columns
//				1024px -> 16 columns
//				1280px -> 16 columns (= max-width)
//
//  ---------------------------------------------------------------------------




//  = GRID SETTINGS
//  ---------------------------------------------------------------------------

	// Base is 10px at this point

	// Relative column & gutter width
	$r-column-width				: 6;
	$r-gutter-width				: 4;
	$r-grid-padding				: 6;
	$r-grid-padding-large		: 4;
	$r-grid-padding-huge		: 5;

	// Columns for smallest screen
	$total-columns		: 2;
	
	// Column & gutter width in em (susy needs em)
	$column-width 		: convert-length($r-column-width*10px,em,$bodyFontSize*10px); // convert to em
	$gutter-width		: convert-length($r-gutter-width*10px,em,$bodyFontSize*10px); // convert to em
	$grid-padding		: convert-length($r-grid-padding*10px,em,$bodyFontSize*10px); // convert to em
	$grid-padding-large	: convert-length($r-grid-padding-large*10px,em,$bodyFontSize*10px); // convert to em
	$grid-padding-huge	: convert-length($r-grid-padding-huge*10px,em,$bodyFontSize*10px); // convert to em

	$container-style	: fluid;




//  = BREAKPOINTS
//  ---------------------------------------------------------------------------
	
	// Base is 16px at this point

	// Feature phone		: 0px		 2 columns	-->	   0-UP
	$tiny-width				: 0;
	$tiny-cols				: 2;

	// Smartphone			: 320px		 4 columns 	-->  320-UP
	$small-width			: 20em;
	$small-cols				: 4;

	// Smartphone landscape	: 480px 	 6 columns 	-->  480-UP
	$medium-width			: 30em;
	$medium-cols			: 6;

	// Tablet 				: 600px, 	 8 columns 	-->  600-UP
	$large-width			: 37.5em;
	$large-cols 			: 8;

	// Tablet landscape		: 1024px 	12 columns 	--> 1024-UP
	$huge-width				: 64em;
	$huge-cols				: 12;

	// Desktop 				: 1280px 	16 columns 	--> 1280-UP
	$giant-width			: 80em;
	$giant-cols				: 16;

	// Desktop large 		: 1600px 	20 columns 	--> 1600-UP
	$monstrous-width		: 100em;
	$monstrous-cols			: 20;



//  = 0-UP
//  ---------------------------------------------------------------------------

	.container
	{
		//padding: 0 0.625em;
		@include container;


		// //@include susy-grid-background;
	 // 	@include debugmessage("Tiny screen, " + $tiny-cols + " columns", $red);



	//  = 320-UP
	//  ---------------------------------------------------------------------------

		@include breakpoint($small-width)
		{
			//padding: 0 3.333em;
			//@include set-container-width;
			width: container($total-columns);
			// //@include susy-grid-background;
			// @include debugmessage("Small screen, " + $small-cols + " columns", $magenta);
		}



	//  = 480-UP
	//  ---------------------------------------------------------------------------

		@include breakpoint($medium-width)
		{
			//padding: 0 3.333em;
			//@include set-container-width;
			width: container($total-columns);
			// //@include susy-grid-background;
			// @include debugmessage("Medium screen, " + $medium-cols + " columns", $purple);
		}



	//  = 600-UP
	//  ---------------------------------------------------------------------------

		@include breakpoint($large-width)
		{
			//padding: 0 3.333em;
			@include container;
			// //@include susy-grid-background;
			// @include debugmessage("Large screen, " + $large-cols + " columns", $blue);
		}



	//  = 1024-UP 
	//  ---------------------------------------------------------------------------

		@include breakpoint($huge-width, $no-query: '.no-mq')
		{
			//@include set-container-width;
			width: container($total-columns);
			// @include with-layout($padding: 0.625em) 
			// {
			// 	@include container;
			// }
			// //@include susy-grid-background;
			// @include debugmessage("Huge screen, " + $huge-cols + " columns", $cyan);
		}



	//  = 1280-UP
	//  ---------------------------------------------------------------------------

		@include breakpoint($giant-width)
		{
			//@include set-container-width;
			width: container($total-columns);
			// //@include susy-grid-background;
			// @include debugmessage("Giant screen, " + $giant-cols + " columns", $green);
		}



	//  = 1600-UP
	//  ---------------------------------------------------------------------------

		@include breakpoint($monstrous-width)
		{
			//@include set-container-width;
			width: container($total-columns);
			// //@include susy-grid-background;
			// @include debugmessage("Monstrous screen, " + $monstrous-cols + " columns", $yellow);
		}
	}